$color-background: #f9fafb;

$white: #ffffff;
$black: #000000;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$blue-300: rgb(0, 128, 128);
$blue-400: rgb(0, 128, 128);
$blue-500: rgb(0, 128, 128);
$blue-600: rgb(0, 128, 128);
$blue-700: rgb(0, 128, 128);
$blue-800: rgb(0, 128, 128);

$purple-300: #c084fc;
$purple-400: #a855f7;
$purple-500: #9333ea;
$purple-600: #7e22ce;
$purple-700: #6b21a8;
$purple-800: #581c87;

$emerald-400: #34d399;
$emerald-500: #10b981;
$emerald-600: #059669;
$emerald-300: #cae4db;
$card-radius: 20px;
$glass-bg: rgb(0, 128, 128);
$glass-bg-2: rgb(0, 128, 128);
$glass-border: rgba(255, 255, 255, 0.12);
$blue-50: #eff6ff;
$glass: rgba(255, 255, 255, 0.06);